body,ul,li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

body {
  background: rgb(241, 241, 241)
}

nav ul li a {
  text-decoration: none;
  color: greenyellow;
}

h1 {
  text-align: center;
  margin-top: 100px;
  color: greenyellow;
}

img {
  max-width: 100%;
  display: block;
}

.image{
    background: white;
    padding: 10px;
}

header {
  background: #1d1e20;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.flex > div {
  flex: 1 1 200px;
  margin: 10px;
}

.data{
    font-size: 0.6em;
    margin-bottom: 5px;
}

section > div.image > a{
    text-decoration: none;
    color: black;  
     
}

section > div.image > a > h4{
    font-size: 1.1em;
    padding-bottom: 5px;
    border-bottom: 1px solid greenyellow;
    text-align: center;
}
